.rightSection{
    height: 100vh;
    width: 20vw;
    position: absolute;
    right: 0;
    background-color: #101011;
    color: rgb(163, 163, 163);
}

.header{
    display: flex;
    border: 10px solid green;
    padding-top: 2vw;
}

/* .profile{
    border: 2px solid red;
    position: absolute;
    left: 12px;
}

.notification{
    border: 2px solid blue;
    position: absolute;
    right: 0;
} */